/*统一样式*/
html,div,ul,li,p,span,img,form,input,a,ol,dl,dt,dd,table,tr,td,body{
	margin: 0;
	padding: 0;
	color: #666666;
	font-family: "微软雅黑";
	box-sizing:border-box; 
}
ul,li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.close{
	cursor: pointer;
	border: solid 1px #d2d2d2;
	border-radius: 3px;
	display: block;
	width: 55px;
	text-align: center;
	height: 21px;
	line-height: 21px;
	font-size: 13px;
	font-weight: 400;
}
.swiper-container{
	width: 1200px;
	height: 340px;
	z-index: 2;
}





/*头部导航栏样式*/
#index-nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 33px;
	border-bottom: 1px solid #c7c7c7;
	background: url(../img/t011da1a195c36e744d.png)left top repeat-x #f7f7f7;
}
#index-nav-box{
	margin: 0 auto;
	width: 1200px;
	height: 32px;
	padding-top: 8px;
	position: relative;
}
#index-nav-box li{
	font-size: 12px;
	float: left;
	height: 18px;
	padding: 0 12px;
	border-right: 1px solid #d2d2d2;
}
#index-nav-box>li:first-of-type{
	padding-left: 0;
}
#index-nav-box>li:nth-of-type(2){
	border: none;
}
#index-nav-box>li:nth-of-type(2)>a{
	text-decoration: none;
}
#index-nav-box>li:nth-of-type(2)>a:hover{
	text-decoration: underline;
}
#index-city{
	/*width: 108px;*/
	padding-left: -12;
}
#index-city>span:first-of-type{
	color: #118855;
	/*padding: 0 5px 0 0;*/
	font-size: 13px;
	font-weight: bold;
}
#index-city>span:last-of-type:hover{
	cursor: pointer;
	text-decoration: underline;
}


/*切换城市*/
#changecity{
	width: 460px;
	position: absolute;
	left: 33px;
	top: 26px;
	background: #fbfbfb;
	border: solid 1px #d2d2d2;
	display: none;
	z-index: 500;
	padding-bottom: 10px;
}
#changecity>span:first-of-type{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 12px;
	height: 20px;
	font-weight: 400;
	line-height: 20px;	
	display: block;
	float: left;
	color: #000000;
}
#changecity>span:last-of-type{
	position: absolute;
	right: 10px;
	top: 10px;
}
#city-box{
	width: 438px;
	border: 1px solid #ebebeb;
	background: #fff;
	padding: 13px 12px;
	margin-top: 35px;
	margin-left: 10px;
}
#city-hot{
	line-height: 20px;
	height: 50px;
	width: 412px;
}
#city-hot>span{
	font-size: 12px;
	color: #666666;
	margin-right: 17px;
	float: left;
}
#city-hot>div{
	width: 355px;
	font-size: 12px;
	float: left;	
}
.index-citynames,.index-citynames2{
	color: #000000;
	margin-right: 15px;
	cursor: pointer;
}
.index-citynames:hover,.index-citynames2:hover{
	color: #ff6600;
	text-decoration: underline;
}
.city-group{
	width: 412px;
	padding-bottom: 14px;
	overflow: hidden;
}
#city-group>span{
	font-size: 12px;
	color: #666666;
	margin-right: 17px;
	float: left;
}
.city-group-blur{
	cursor: pointer;
	width: 16px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	display: block;
	border-bottom: 1px solid #d9d9d9;
	float: left;
	font-size: 9px;
}
.city-group-focus{
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	width: 18px;
	cursor: pointer;
	height: 23px;
	line-height: 23px;
	text-align: center;
	display: block;
	float: left;
	font-size: 9px;
	color: #f60;
	background: url(../img/t011be77565f0a2f8e8.png)
	no-repeat -442px -10px;
}
#city-group>p>span:hover{
	text-decoration: underline;
	color: #f60;
}
#city-group>div{
	clear: both;
	margin-top: 28px;
	width: 340px;
	font-size: 12px;
	margin-left: 40px;
	line-height: 20px;
}






#index-nav-boxright{
	float: right;
}
#index-nav-boxright>li:last-of-type{
	border:  none;
}
#index-nav-boxright>li:last-of-type>span{
	color: #ff0000;
}
#index-nav-boxright>li:hover>span,#index-nav-boxright>li>a:hover{
	text-decoration: underline;
}
#index-nav-boxright>li>span{
	cursor: pointer;
}
#serve>b{
	display: inline-block;
	width: 7px;
	height: 12px;
	margin-left: 10px;
	background: url(../img/t01548f00668b24011b.gif) 0 -42px no-repeat;
}
#serve>div{
	width: 92px;
	height: 81px;
	background: #fff;
	border: solid 1px #999999;
	position: absolute;
	top: 0;
	right: 123px;
	z-index: 10;
	display:none;
}
#serve>div>p{
	margin-left: 12px;
}
#serve>div>p>b{
	display: inline-block;
	width: 7px;
	height: 12px;
	margin-left: 10px;
	background: url(../img/t01548f00668b24011b.gif) 0 -80px no-repeat;
}
#serve>div>p:first-of-type{
	height: 33px;
	line-height: 32px;
}
#serve>div>p:nth-of-type(2),#serve>div>p:nth-of-type(3){
	line-height: 22px;
}
#serve>div>p:nth-of-type(2)>a:hover,#serve>div>p:nth-of-type(3)>a:hover{
	text-decoration: underline;
}
#serve:hover div{
	display: block;
}




/*头部导航栏分支页面样式*/
/*登录*/
#login-page{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
#login-box{
	width: 460px;
	height: 344px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -172px 0 0 -230px;
}
#login-box-top{
	height: 56px;
	width: 460px;
	/*padding-left: 17px;*/
	background: url(../img/sp.png) top left repeat-x;
	position: absolute;
	top: 0;
	left: 0;
}
#login-box-top>div{
	margin-left: 17px;
	height: 56px;
	width: 443px;
	background: url(../img/sp.png) 0 -60px repeat-x;
}
#login-box-top>div>p{
	line-height: 56px;
	margin-left: 103px;
	font-size: 15px;
}
#login-box-top>span{
	width: 29px;
	height: 24px;
	background: url(../img/sp.png) -350px -280px no-repeat;
	position: absolute;
	top: 16px;
	right: 10px;
	border: none;
}
#login-box-top>span:hover{
	background: url(../img/sp.png) -350px -305px no-repeat;
}
#login-box>form{
	height: 248px;
	width: 460px;
	position: absolute;
	left: 0;
	top: 56px;
	border-bottom: 1px solid #e3e3e3;
	padding-left: 50px;
	padding-top: 38px;
}
.loginform>span{
	font-size: 14px;
	color: #333333;
	margin-right: 14px;
}
.loginform:first-of-type{
	margin-bottom: 16px;
}
.loginform:last-of-type{
	margin-bottom: 14px;
}
.loginform>input{
	height: 36px;
	width: 263px;
	border: solid 1px #b7b7b7;
	border-radius: 2px;
	outline: none;
	padding-left: 5px;
}
.loginself{
	margin-top: 9px;
	margin-left: 55px;
	font-size: 12px;
	color: #333;
}
.loginself>input{
	margin-right: 6px;
	outline: none;
}
.login-btn{
	margin-left: 55px;
	margin-top: 8px;
}
.login-btn>input{
	width: 263px;
	height: 38px;
	background: url(../img/sp.png) 0 -120px no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
}
.otherlog{
	margin-left: 55px;
	margin-top: 12px;
}
.otherlog>span{
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	margin-right: 12px;
	float: left;
}
.otherlogul{
	float: left;
	height: 26px;
}
.otherlogul li{
	height: 26px;
	width: 31px;
	float: left;
}
.otherlogul>li:first-of-type{
	background: url(../img/sp.png) -400px -280px no-repeat;
}
.otherlogul>li:first-of-type:hover{
	background: url(../img/sp.png) -430px -280px no-repeat;
}
.otherlogul>li:nth-of-type(2){
	background: url(../img/sp.png) -400px -305px no-repeat;
}
.otherlogul>li:nth-of-type(2):hover{
	background: url(../img/sp.png) -430px -305px no-repeat;
}
.otherlogul>li:nth-of-type(3){
	background: url(../img/sp.png) -400px -330px no-repeat;
}
.otherlogul>li:nth-of-type(3):hover{
	background: url(../img/sp.png) -430px -330px no-repeat;
}
.otherlogul>li:last-of-type{
	background: url(../img/sp.png) -400px -380px no-repeat;
}
.otherlogul>li:last-of-type:hover{
	background: url(../img/sp.png) -430px -380px no-repeat;
}
#login-box-bot{
	height: 39px;
	line-height: 39px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#login-box-bot>a{
	font-size: 12px;
	padding: 0 13px;
}
#login-box-bot>a:hover span{
	text-decoration: underline;
}
#login-box-bot>a:first-of-type{
	color: #999999;
	margin-left: 144px;
	border-right: solid 1px #999;
}
#blue{
	color: #0082cb;
}



/*注册*/
.logup-page{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}
.logup-tel{
	width: 544px;
	height: 425px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -212px 0 0 -272px;
}


















/*主体*/
.whitepool{
	background: #fff;
	width: 100%;
}
.blackpool{
	background: #f7f7f7;
	width: 100%;
}
.f1{
	height: 420px;
	margin-top: 33px;
}
.f2{
	height: 973px;
}
.f3{
	height: 924px;
	border-bottom: 1px solid #e5e5e5;
}
.f4{
	height: 263px;
}

/*头部，导航*/
header{
	position: relative;
	height: 80px;
	width: 1200px;
	margin: 0 auto;
}
.logo{
	background: url(../img/t01d625639f4e39d711.png) left center no-repeat;
	height: 80px;
	width: 200px;
	display: block;
}
.nav{
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
.nav li{
	float: left;
	width: 102px;
	height: 80px;
	padding-top: 20px;
}
.nav li a{
	width: 102px;
	text-align: center;
	height: 42px;
	line-height: 42px;
	padding: 0 18px;
	display: block;
	vertical-align: middle;
}
.nav li a:hover{
	background: #f4f4f4;
}
.nav img{
	position: absolute;
	left: 76px;
	top: 17px;
}
/*轮播图，侧栏导航*/
.banner-img{
	width: 1200px;
	height: 340px;
	overflow: hidden;
}
.banner{
	width: 1200px;
	height: 340px;
	margin: 0 auto;
	/*background: #a00;*/
	position: relative;
	z-index: 1
}
.banner-nav{
	height: 340px;
	width: 235px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background: url(../img/t01c035e0988a964a21.png) left top repeat;
}
.banner-nav>li{
	height: 85px;
	width: 235px;
	cursor: pointer;
	border-bottom: 1px solid #9a9895;
	/*position: relative;*/
}
.banner-nav>li:first-of-type{
	background: url(../img/t01280de86e9d9dc470.png) 0 -9px no-repeat;
}
.banner-nav>li:nth-of-type(2){
	background: url(../img/t01280de86e9d9dc470.png) 0 -104px no-repeat;
}
.banner-nav>li:nth-of-type(3){
	background: url(../img/t01280de86e9d9dc470.png) 0 -207px no-repeat;
}
.banner-nav>li:last-of-type{
	border: none;
	background: url(../img/t01280de86e9d9dc470.png) 0 -308px no-repeat;
}
.banner-nav>li>span{
	color: #fff;	
	line-height: 85px;
	margin-left: 95px;
}




.banner-box{
	position: absolute;
	top: 0;
	left: 235px;
	background: #f7f7f7;
	border: solid 1px #118855;
	width: 699px;
	z-index: 200;
	cursor: default;
	display: none;
}
.bnav1{
	padding-top: 12px;
	padding-bottom: 12px;
}
.bnav1>.arrow{
	position: absolute;
	left: -8px;
	top: 35px;
}

.bnav1>table{
	width: 690px;
	/*position: absolute;
	top: 12px;
	left: 0;*/
}
.bnav1>table>tr{
	height: 47px;
	padding: 0 13px;
}
.bnav1-tit{
	width: 155px;
	text-align: right;
	padding-right: 5px;
	font-size: 12px;
	color: #000000;
}
.bnav1-bod{
	border-bottom: solid 1px #e0e0e0;
	padding: 13px 0;
}
.bnav1-bod>ul>li{
	float: left;
	height: 18px;
	line-height: 18px;
	border-left: solid 1px #e0e0e0;
	font-size: 12px;
	color: #333333;
	padding: 0 10px;
	cursor: pointer;
}
.bnav1-bod>ul>li:hover{
	color: #185;
}
.bnav1-bod>tr:last-of-type>.bnav1-bod{
	border: none;
}








.bnav2{
	height: 340px;
}
.bnav2>.arrow{
	position: absolute;
	left: -8px;
	top: 121px;
}
.bnav2-top{
	height: 150px;
	position: absolute;
	top: 27px;
	left: 30px;
}
.bnav2-bot{
	height: 150px;
	position: absolute;
	top: 150px;
	left: 30px;
}
.bnav2-bod>span{
	height: 42px;
	line-height: 42px;
	width: 77px;
	display: block;
	font-size: 12px;
	color: #000;
	float: left;
}
.bnav2-bod>div{
	float: left;
	width: 540px;
}
.bnav2-bod>div>span{
	width: 118px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	display: block;
	background: #f7f7f7;
	margin-left: 17px;
	margin-bottom: 20px;
	cursor: pointer;
	border: solid 1px #e1e1e1;
	float: left;
	color: #333333;
	font-size: 12px;
}
.bnav2-bod>div>span:hover{
	color: #185;
	border-color: #185;
}



.bnav3{
	height: 401px;
}
.bnav3>.arrow{
	position: absolute;
	left: -8px;
	top: 205px;
}
.bnav3-bod{
	position: absolute;
	top: 0;
	left: 0;
	width: 699px;
	height: 401px;
	padding: 27px 17px;
}
.bnav3-bod>span{
	width: 118px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	display: block;
	background: #f7f7f7;
	margin-left: 15px;
	margin-bottom: 20px;
	cursor: pointer;
	border: solid 1px #e1e1e1;
	float: left;
	color: #333333;
	font-size: 12px;
}
.bnav3-bod>span:hover{
	color: #185;
	border-color: #185;
}





.bnav4{
	height: 340px;
}
.bnav4>.arrow{
	position: absolute;
	left: -8px;
	top: 291px;
}
.bnav4-bod{
	position: absolute;
	top: 0;
	left: 0;
	width: 699px;
	height: 304px;
	padding: 27px 17px;
}
.bnav4-bod>span{
	width: 118px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	display: block;
	background: #f7f7f7;
	margin-left: 15px;
	margin-bottom: 20px;
	cursor: pointer;
	border: solid 1px #e1e1e1;
	float: left;
	color: #333333;
	font-size: 12px;
}
.bnav4-bod>span:hover{
	color: #185;
	border-color: #185;
}








.banner-nav>li:hover{
	background-color: #118855;
}
.banner-nav>li:first-of-type:hover .bnav1{
	display: block;
}
.banner-nav>li:nth-of-type(2):hover .bnav2{
	display: block;
}
.banner-nav>li:nth-of-type(3):hover .bnav3{
	display: block;
}
.banner-nav>li:last-of-type:hover .bnav4{
	display: block;
}

/*灰色一楼*/
.webad{
	height: 167px;
	width: 1200px;
	margin: 0 auto;
	border-top: solid 1px #f7f7f7;
}
.webad>ul>li{
	float: left;
	margin-right: 1px;
	cursor: pointer;
}
.f2-title{
	height: 68px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	margin-top: 0.1px;
}
.f2-title>span{
	font-size: 23px;
	line-height: 91px;
	position: absolute;
	left: 0;
	top: 0;
}
.f2-title>a{
	display: block;
	height: 68px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	width: 76px;
	padding-top: 38px;
	background: url(../img/t0142af699131aff09e.png) 48px 36px no-repeat;
}
.f2-title>a:hover{
	text-decoration: underline;
}
.f2-floor1,.f2-floor2{
	height: 301px;
	width: 1200px;
	margin: 0 auto;
}
.f2-floor1>a,.f2-floor2>a{
	float: left;
}
.f2-floor1>ul,.f2-floor2>ul{
	float: left;
}
.f2-floor1>ul>li,.f2-floor2>ul>li{
	float: left;
	width: 199px;
	height: 301px;
	background: #fff;
	cursor: pointer;
}
.f2-floor1>ul>li>div,.f2-floor2>ul>li>div{
	text-align: center;
	padding-top: 32px;
	width: 199px;
	height: 231px;
	vertical-align: middle;
}
.f2-floor1>ul>li>p,.f2-floor2>ul>li>p{
	text-align: center;
}
.f2-floor1>ul>li>div>img,.f2-floor2>ul>li>div>img{
	height: 160px;
	display: inline-block;
}

.f2-pay{
	color: #FC6621;	
}



/*到店维修*/
/*地址选择*/
.areachoose{
	height: 82px;
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}
.f3-province{
	padding: 4px 7px 4px 13px;
	width: 142px;
	height: 42px;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	line-height: 32px;
	border: solid 1px #185;
	float: left;
	position: relative;
}
/*省份选择*/
.province-box{
	width: 460px;
	position: absolute;
	top: 63px;
	left: 0;
	background: #fbfbfb;
	border: solid 1px #cfcfcf;
	z-index: 600;
	display: none;
	padding-bottom: 10px;
	overflow: hidden;
}
.province-box>.close{
	height: 20px;
	width: 55px;
	display: block;
	background: url('../img/t011be77565f0a2f8e8.png') 0 -7px no-repeat;
	border: none;
	position: absolute;
	top: 11px;
	right: 11px;
}
.province-box>p{
	float: left;
	font-size: 12px;
	margin-top: 15px;
	margin-left: 12px;
}
.province-area{
	width: 438px;
	/*position: absolute;
	top: 36px;
	left: 11px;*/
	margin-left: 10px;
	margin-top: 35px;
	padding-bottom: 35px;
	padding-left: 10px;
	border: solid 1px #cfcfcf;
	background: #ffffff;
	overflow: hidden;	
}
/*区县选择*/
.city-box{
	width: 462px;
	position: absolute;
	top: 63px;
	left: 150px;
	background: #fbfbfb;
	border: solid 1px #cfcfcf;
	z-index: 500;
	display: none;
	padding-bottom: 11px;
}
.city-box>.close{
	height: 20px;
	width: 55px;
	display: block;
	background: url('../img/t011be77565f0a2f8e8.png') 0 -7px no-repeat;
	border: none;
	position: absolute;
	top: 11px;
	right: 11px;
}
.city-box>p{
	float: left;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 12px;
}
.city-area{
	width: 438px;
	float: left;
	margin-left: 12px;
	/*position: absolute;
	top: 36px;
	left: 11px;*/
	border: solid 1px #cfcfcf;
	background: #ffffff;
	padding: 12px 12px 0 12px;
	margin-top: 12px;
}
.city-area>span{
	line-height: 23px;
	height: 23px;
	display: block;
	margin-right: 16px;
	float: left;
	color: #000;
	font-size: 14px;
	cursor: pointer;
}
.city-area>span:hover{
	text-decoration: underline;
}






/*选择页面结束*/
.f3-province>span{
	background: url(../img/t010d71e7b045cd4e73.png) 0 -38px no-repeat;
	display: block;
	width: 10px;
	height: 5px;
	position: absolute;
	top: 20px;
	left: 56px;
}
.f3-city{
	padding: 4px 7px 4px 13px;
	width: 142px;
	height: 42px;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	line-height: 32px;
	border: solid 1px #185;
	float: left;
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
}
.f3-city>span{
	background: url(../img/t010d71e7b045cd4e73.png) 0 -38px no-repeat;
	display: block;
	width: 10px;
	height: 5px;
	position: absolute;
	top: 20px;
	left: 80px;
}
.f3-find{
	width: 590px;
	height: 42px;
	border: solid 1px #118855;
	position: relative;
	float: left;
}
.f3-find>[name="find-text"]{
	width: 468px;
	height: 40px;
	border: none;
	outline: none;
	line-height: 40px;
	padding-left: 13px;

}
.f3-find>button{
	width: 120px;
	height: 40px;
	background: #185;
	text-align: center;
	line-height: 40px;
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 18px;
}
/*店铺模块*/
.f3-shops-box{
	width: 1200px;
	margin: 0 auto;
	height: 780px;
	position: relative;
}
.f3-shops{
	width: 890px;
	height: 780px;
	float: left;
	font-size: 14px; 	
}
.shops-title{
	width: 890px;
	height: 44px;
	border: solid 1px #d6d6d6;
	background: #f7f7f7;
	position: relative;
}
.shops-title-change{
	width: 122px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	float: left;
	cursor: pointer;
}
.shops-title-change2{
	width: 122px;
	height: 44px;
	line-height: 44px;
	background: #fff;
	text-align: center;
	float: left;
	cursor: pointer;
	border: solid 1px #d6d6d6;
	margin-top: -1px;
	margin-left: -1px;
}
#shops-title-pay{
	float: left;
	line-height: 44px;
	margin-left: 20px;
}
#f3-map{
	width: 103px;
	height: 30px;
	border: solid 1px #dbdbdb;
	line-height: 30px;
	color: #7d7d66;
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: 11px;
	background: url(../img/t01c9ef4268ff127a67.png) 10px 0 no-repeat #fff;
}
#f3-map>span{
	margin-left: 35px;
}
/*地图页面*/
#map-page{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	z-index: 1001;
	display: none;
}
.map-box{
	width: 890px;
	height: 552px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -276px;
	margin-left: -445px;
	background: #fafafa;
}
.map-box>p>.close{
	border: none;
	background: none;
	color: #c2c2c2;
	position: absolute;
	top: 7px;
	right: 0;

	cursor: pointer;
}
.map-box>p>.close:hover{
	color: #b1b1b1;
}
.map-box>p{
	height: 32px;
	width: 890px;
	background: url(../img/t011da1a195c36e744d.png)left top repeat-x;
}
/*地图页面*/
/*店铺列表*/
.shops-list{
	height: 133px;
	line-height: 31px;
	width: 890px;
	border-bottom: 1px solid #dfdfe1;
	padding: 20px 0;
	position: relative;
}
.shops-list:last-of-type{
	border: none;
}
.shops-list-img{
	height: 92px;
	width: 92px;
	display: block;
	float: left;
	border: solid 1px #e6e6e6;
}
.shops-list-img>img{
	height: 90px;
	width: 90px;
}
.shops-information{
	width: 395px;
	float: left;
	font-size: 14px;
	margin-left: 10px;
	overflow: hidden;
	white-space:nowrap;
}
.shops-name{
	color: #185;
	margin-right: 8px;
}
.shops-name:hover{
	text-decoration: underline;
}
.shops-dowhat{
	width: 395px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shops-address{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 395px;
	white-space: nowrap;
}
.shops-grade{
	height: 18px;
	overflow: hidden;
	display: inline-block;
}
.shops-grade>span{
	display: block;
	width: 16px;
	height: 15px;
	float: left;
	margin-right: 5px;
	background: url(../img/t01bc347bfed13eeb19.png) 0 -39px no-repeat;
	margin-top: 4px;
}
.shops-honer{
	height: 85px;
	width: 135px;
	float: left;
	margin-left: 65px;
	font-size: 14px;
}
.shops-honer>div:first-of-type>span{
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	background: url(../img/t01dddbd1775cf1d1d7.png) left top no-repeat;
	margin-top: 8px;
	margin-right: 5px;
}
.shops-honer>div:nth-of-type(2)>span{
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	background: url(../img/t0141b1afb0bd0d7e2e.png) left top no-repeat;
	margin-top: 8px;
	margin-right: 5px;
}
.shops-goin{
	width: 142px;
	height: 42px;
	border: solid 1px #118855;
	color: #185;
	text-align: center;
	line-height: 42px;
	position: absolute;
	top: 45px;
	right: 5px;
	background: #fff;
	display: none;
}
.shops-list:hover{
	background-color: #fafafa;
}
.shops-list:hover .shops-goin{
	display: block;
}
/*店铺页标*/
.shops-pages{
	position: absolute;
	top: 713px;
	left: 131px;
}
.shops-ever-pages{
	height: 44px;
	width: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
.shops-pages-focus{
	border: none;
	background: #fc6621;
	color: #fff;
	font-weight: bold;
}
.shops-pages-blur{
	color: #9999a5;
	border: solid 1px #d6d6d6;
}
.shops-next-page{
	width: 102px;
	height: 44px;
	color: #9999a5;
	border: solid 1px #d6d6d6;
	float: left;
	text-align: center;
	line-height: 44px;
	cursor: pointer;
	font-size: 16px;
}

/*右侧商家好评*/
.f3-ranking{
	width: 270px;
	height: 695px;
	border: solid 1px #d6d6d6;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/numtitle.png) 0 43px no-repeat;
}
.f3-ranking-title{
	height: 43px;
	border-bottom: 1px solid #d6d6d6;
	background: #f7f7f7;
	line-height: 42px;
	text-align: center;
	font-size: 20px;
	color: #333;
}
.ranking-list{
	height: 93px;
	width: 268px;
	border-bottom: 1px solid #d6d6d6;
	padding-top: 0.1px;
	position: relative;
}
.ranking-list:last-of-type{
	border: none;
}
.ranking-img>img{
		width: 50px;
		height: 50px;
}
.ranking-img{
	width: 52px;
	height: 52px;
	border: solid 1px #d6d6d6;
	margin-top: 20px;
	margin-left: 56px;
	display: block;
	float: left;
}
.ranking-shopname{
	color: #185;
	font-size: 12px;
	position: absolute;
	top: 25px;
	left: 115px;
}
.ranking-shopname:hover{
	text-decoration: underline;
}
.ranking-list>p{
	font-size: 12px;
	color: #666666;
	position: absolute;
	top: 53px;
	left: 115px;
	cursor: default;
}
/*第四层*/
/*关于部分*/
.f4-about{
	height: 129px;
	width: 980px;
	margin: 0 auto;
	border-bottom: 1px solid #eeeeee;
}
.f4-about>li{
	width: 25%;
	height: 100%;
	position: relative;
	float: left;
}
.f4-about>li>div{
	line-height: 26px;
	position: absolute;
	top: 27px;
	left: 76px;
}
.f4-about>li>div>p{
	font-size: 16px;
	font-weight: bold;
	color: #888888;
	margin-bottom: 5px;
}
.f4-about>li>div>a{
	display: block;
	color: #888888;
	font-size: 12px;
}
.f4-about>li>div>a:hover{
	text-decoration: underline;
}
.f4-about>li>b{
	height: 43px;
	width: 43px;
	display: block;
	position: absolute;
	top: 20px;
	left: 28px;
}
.f4-about>li:first-of-type>b{
	background: url(../img/t01f943ad69c4601e97.gif) 0 0 no-repeat;
}
.f4-about>li:nth-of-type(2)>b{
	background: url(../img/t01f943ad69c4601e97.gif) 0 -44px no-repeat;
}
.f4-about>li:nth-of-type(3)>b{
	background: url(../img/t01f943ad69c4601e97.gif) 0 -88px no-repeat;
}
.f4-about>li:nth-of-type(4)>b{
	background: url(../img/t01f943ad69c4601e97.gif) 0 -176px no-repeat;
}

.f4-p1{
	font-size: 11px;
	color: #888;
	text-align: center;
	line-height: 23px;
	margin-top: 25px;
}
.f4-p1>a{
	margin-left: 30px;
}
.f4-p1>a:hover{
	text-decoration: underline;
}
.f4-p2{
	font-size: 11px;
	color: #888;
	text-align: center;
	line-height: 23px;
}
.f4-p3{
	font-size: 11px;
	color: #888;
	text-align: center;
	line-height: 23px;
}
.f4-p3>a{
	margin-right: 10px;
}
.f4-p3>a:hover{
	text-decoration: underline;
}
#float-ad{
	position: fixed;
	top: 140px;
	left: 50%;
	margin-left: 600px;
	width: 71px;
	height: 194px;
	background: url(../img/t0113dfdd3937c1f092.png) -78px 0px no-repeat;
}
#float-ad>span{
	position: absolute;
	top: 56px;
	left: 0;
	width: 71px;
	height: 18px;
	display: block;
	cursor: pointer;
}
#float-ad>span:hover{
	background: url(../img/t0113dfdd3937c1f092.png) 0px -56px no-repeat;
}